/frontend/node_modules
/frontend/.next

/backend/.env
/backend/.env.local
/frontend/.env
/frontend/.env.local
/backend/public/files
/backend/migrations

backend/config/secrets/prod/prod.decrypt.private.php
backend/public/bundles/
backend/var/
backend/vendor/
###> lexik/jwt-authentication-bundle ###
backend/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

.idea
